---
---

/* General Layout and Background */
body
  background: url(../images/bg.png)
  font-family: monospace
  line-height: 170%
  font-size: 1.1em

.container
  max-width: 30em
  background: #ffe
  margin: 3em auto
  padding: 5em
  position: relative
  width: 60%
  @media screen and (max-width: 600px)
    padding: 4em

/* Links and Navigation */
.page-link
  font-weight: bold

a
  color: #C00
  text-decoration: none
  .page-link:hover
    border-bottom: .2em solid #C00

.navlist
  padding: 0
  li
    display: inline
    list-style-type: none
    padding-right: .8em

/* Headers */
h1, h2, h3, h4, h5, h6
  font-size: 1em
  font-weight: bold

h1, h2
  text-decoration: underline

h1
  text-transform: uppercase

.header
  text-align: center
  margin-bottom: 4.25em
  h1
    letter-spacing: .7em
    margin-bottom: .7em
    text-decoration: none
    font-size: 1.2em

/* Posts List */
.posts
  padding-left: 0
  li
    list-style-type: none

/* Footer */
footer
  margin-top: 4.25em
  text-align: center
  .author
    margin-bottom: 2em
  .license
    img
      display: none

/* Pagination */
.pagination
  text-align: center
  a, span
    margin: 2.5em .8em

/* Continue Reading */
.continue
  text-align: center
  margin-top: 1.5em
