<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{site.title}} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
  
   <meta content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" property="og:url">
  <meta content="{{ page.title }}" property="og:title">
  <meta content="{{ site.fbid }}" property="fb:app_id">
  <meta content="{{ site.title }}" property="og:site_name">
  <meta content="article" property="og:type">
  <meta content="{{ site.authorfb }}" property="article:author">
  {% if page.description != null %}
    <meta content="{{ page.description }}" property="og:description">
  {% else %}
    <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  <meta content="{{ page.share_image | prepend: site.baseurl | prepend: site.url }}" property="og:image">
  
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link media="screen" rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link media="print" rel="stylesheet" href="{{ "/css/print.css" | prepend: site.baseurl }}">
</head>
