<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body>

      <div class="container">

        {% include header.html %}

        {{ content }}

        <div class="misc-content">
            <div class="social">
                <ul class="list-linear">
                    <li><div class="twitter-tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="{{ site.author.twitter }}" data-lang="en">Tweet</a></div></li>
                    <li><div class="twitter-follow"><a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-show-count="false" data-lang="en"></a></div></li>
                    <li><div class="fb-like" data-href="{{ page.url | prepend: site.baseurl | prepend: site.url }}" data-width="225"  data-layout="standard" data-action="like" data-show-faces="true" data-share="true"</div></li>
                    <li><div class="g-plusone" data-size="medium"></div></li>
                </ul>
            </div>
        </div><!-- misc-content -->

        {% include footer.html %}

      </div>

      <script type="text/javascript" src="{{ "/assets/js/social.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
